{% extends "base.html" %}

{% block content %}
  <h1>Position detail</h1>
  <p>
    <strong>Position:</strong>
    {{ position.name }}
  </p>
  <p>
    <strong>All employees who have this position:</strong>
  </p>
  <ul>
    {% for worker in position.worker_set.all %}
      <li>
        <a href="{% url 'manager:worker-detail' worker.id %}">{{ worker.first_name }} {{ worker.last_name }}</a>
      </li>
    {% endfor %}
  </ul>
  <input type="button" class="link-input" value="Delete" onclick="window.location.href='{% url 'manager:position-delete' position.id %}'">
  <input type="button" class="link-input" value="Update" onclick="window.location.href='{% url 'manager:position-update' position.id %}'">
{% endblock %}
```