{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Tasks</h1>

  <form method="get" action="">
    <div class="row search-task-types">
      <div class="col-2 search-task-types-field">
        {{ search_form | crispy }}
      </div>
      <div class="col-1">
        <input type="submit" value="🔎" class="btn btn-secondary">
      </div>
    </div>
  </form>

  <hr>
  {% if task_list %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_list %}
          <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'manager:task-detail' pk=task.id %}">{{ task.name }}</a></td>
            <td><a href="{% url 'manager:task-update' task.id %}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no tasks at this time.</p>
  {% endif %}

  <input type="button" class="btn btn-secondary create-tasks-but" value="Create" onclick="window.location.href='{% url 'manager:task-create' %}'">

  <form class="form-inline">
    <input type="submit" class="btn btn-secondary mb-2" value="Apply">
      <div class="form-group group-sort mb-2">
          <label class="sr-only" for="inlineFormInputGroupUsername2">Sort by</label>
          {{ order_form.sort_by }}
                {{ order_form.active_only }}
          <label class="form-check-label" for="inlineFormCheck">
              Active tasks only
          </label>
      </div>
  </form>

{% endblock %}
