{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Task types</h1>
  <form method="get" action="">
    <div class="row search-task-types">
      <div class="col-2 search-task-types-field">
        {{ search_form | crispy }}
      </div>
      <div class="col-1">
        <input type="submit" value="🔎" class="btn btn-secondary">
      </div>
    </div>
  </form>
  <hr>
  {% if tasktype_list %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for tasktype in tasktype_list %}
          <tr>
            <td>{{ tasktype.id }}</td>
            <td><a href="{% url 'manager:task-type-detail' pk=tasktype.id %}">{{ tasktype.name }}</a></td>
            <td><a href="{% url 'manager:task-type-update' tasktype.id %}">Update</a></td>
            <td><a href="{% url 'manager:task-type-delete' tasktype.id %}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no task types at this time.</p>
  {% endif %}
  <input type="button" class="btn btn-secondary create-task-but" value="Create" onclick="window.location.href='{% url 'manager:task-type-create'%}'">
{% endblock %}