{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Tasks</h1>

  <form method="get" action="" class="form-inline">
    {{ search_form | crispy }}
    <input type="submit" value="🔎" class="btn btn-secondary">
  </form>

  <hr>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          {{ task.id }}
          <a href="{% url "manager:task-detail" pk=task.id %} ">{{ task.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks at this time.</p>
  {% endif %}

  <input type="button" class="link-input" value="Create" onclick="window.location.href='{% url 'manager:task-create' %}'">
{% endblock %}
