{% extends "base.html" %}

{% block content %}
  <h1>{{ tasktype.name }}</h1>
  <hr>
  {% if tasktype.tasks.all %}
  {% for task in tasktype.tasks.all %}
    <ul class="col-md-8">
      <li>
        <h3>{{ task.name }}</h3>
        <p>{{ task.description }}</p>
      </li>
    </ul>
  <hr>
  {% endfor %}
  {% else %}
  <p>No active tasks found.</p>
  {% endif %}
   <input type="button" class="link-input" value="Delete" onclick="window.location.href='{% url 'manager:task-type-delete' tasktype.id %}'">
  <input type="button" class="link-input" value="Update" onclick="window.location.href='{% url 'manager:task-type-update' tasktype.id %}'">
{% endblock %}
```