{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-4" style="margin-left: 275px">
    <h1>{{ object|yesno:"Update,Create" }} Worker</h1>
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          {{ form|crispy }}
          <div class="mt-4">
            <input type="submit" value="Submit" class="btn btn-secondary create-task-but">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div style="height: 200px;"></div>
{% endblock %}