{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
  <h1>{{ worker.first_name }} {{ worker.last_name }}</h1>
  <hr>
  <p>Username: {{ worker.username }}</p>
  <p>Email: {{ worker.email }}</p>
  <p>Position: {{ worker.position }}</p>
  <hr>
  <p>
  Current task:
    {% if worker.tasks.all %}
      {% for task in worker.tasks.all %}
        <a href="{% url 'manager:task-detail' task.id %}">{{ task.name }}</a>
      {% endfor %}
    {% else %}
      <p>No active tasks.</p>
    {% endif %}
  </p>
  <input type="button" class="link-input" value="Delete" onclick="window.location.href='{% url 'manager:worker-delete' worker.id %}'">
  <input type="button" class="link-input" value="Update" onclick="window.location.href='{% url 'manager:worker-update' worker.id %}'">

{% endblock %}
```