<footer class="foot-bottom bg-dark py-4 mt-auto">
    <button class="btn-info"><a id="back-link" href="javascript:history.back()">Back</a></button>
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class=" ml-3 small m-0 text-white">Pet Project &copy; 2023</div></div>
            <div class="col-auto">
                <a class="link-light small" href="https://github.com/anna-lybid/task-manager" target="_blank">Git Hub</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
