<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="user-ul">
    {% if user.is_authenticated %}
      <li class="list-group-item list-group-item-action active" aria-current="true"><a class="user-display" href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
      <li class="list-group-item list-group-item-action active" aria-current="true"><a class="user-display" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    {% else %}
      <li class="list-group-item list-group-item-action active" aria-current="true"><a class="user-display" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
    {% endif %}
  </ul>
    <div class="container px-5">
        <a class="navbar-brand nav-content" href="{% url 'manager:index' %}">Task manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'manager:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'manager:task-list' %}">Tasks</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'manager:worker-list' %}">Workers</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'manager:position-list' %}">Positions</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'manager:task-type-list' %}">Task types</a></li>
            </ul>
        </div>
    </div>
</nav>
