{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Task Manager</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  {% block navigation %}
    {% include "includes/navigation.html" %}
  {% endblock %}

  {% block header %}
  {% endblock %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 ">
        {% block content %}
        {% endblock %}
        {% block pagination %}
            {% include "includes/pagination.html" %}
        {% endblock %}
      </div>
    </div>
  </div>

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
</body>
</html>
