{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Task Manager</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
<div class="container-fluid">

  {% block content %}{% endblock %}

</div>
</body>

</html>
